.exercise {
	border: 2px solid #227877;
	margin: 10px 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__desc {
		color: black;
		font-size: 1.8rem;
		text-decoration: none;
	}
	&__title {
		font-size: 2.5rem;
	}
	&__subtitle {
		font-size: 2rem;
	}
	&__ul {
		text-align: center;
		font-size: 1.8rem;
		width: 25ch;
		list-style: none;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__button {
		margin-top: 10px;
		color: black;
		border: 2px solid #227877;
		border-radius: 0px;
		padding: 10px 25px;
		font-size: 14px;
		letter-spacing: 1px;
		cursor: pointer;
		box-shadow: inset 0 0 0 0 #227877;
		-webkit-transition: ease-out 0.4s;
		-moz-transition: ease-out 0.4s;
		transition: ease-out 0.4s;
	}
	&__button:hover {
		box-shadow: inset 0 0 0 50px #227877;
	}
}
