.mainSection {
	display: flex;
	justify-content: center;
	margin: 0px 30px;
	text-align: center;
}
.main__guide {
	border: 2px solid #227877;
	padding: 5px;
	margin-top: 20px;
	font-size: 2rem;
	text-decoration: none;
	cursor: pointer;
	color: black;
}
.guide {
	border: 2px solid #227877;
	margin: 10px 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__title {
		font-size: 2.5rem;
	}
	&__subtitle {
		font-size: 2rem;
	}
	&__text {
		width: 70ch;
		font-size: 1.8rem;
		&--title {
			font-weight: bold;
		}
	}
	&__button {
		margin-top: 10px;
		color: black;
		border: 2px solid #227877;
		border-radius: 0px;
		padding: 10px 25px;
		font-size: 14px;
		letter-spacing: 1px;
		cursor: pointer;
		box-shadow: inset 0 0 0 0 #227877;
		-webkit-transition: ease-out 0.4s;
		-moz-transition: ease-out 0.4s;
		transition: ease-out 0.4s;
	}
	&__button:hover {
		box-shadow: inset 0 0 0 50px #227877;
	}
}
